

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body.black {
	background: #888;
}
.span12 {
	padding-bottom: 30px;
	display: none;
}

.span12 [class*="span"] {
	border: solid 1px #dddddd;
	border-radius: 10px;
	padding: 5px;
}

footer {
	background: #ccc;
	padding: 10px 0 0 30px;
	border-radius: 20px 20px 0 0;
}

ol>li>ul {
	background: #ddd;
	list-style-position: inside;
	padding-left: 20px;
	width: 100px;
	border-radius: 10px;
	border: solid 1px gray;
}

table.first tr td {
	padding: 10px;
}

.last .red {
	border: 1px solid red;	
}

.last td:hover {
	border-color: #0f0;

}

.last {
	border: none;
	border-collapse: separate;
	border-spacing:20px;
}

.last td {
	padding: 10px;
	margin: 10px;
}

.slider ul {
	list-style: none;
}

.slider li img {
	padding: 5px;
	border: solid #ccc 1px;
	border-radius: 5px;
	margin: 5px;
	float: left;
	height: 200px;
}
.slider li img.selected {
	background: white;
	position: absolute;
	width: auto;
	height: 600px;
	left: 100px;
	top: 0;
	right: 100px;
	clear: both;
	margin: auto;
}